<%- include("header") -%>
<h1>This is about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus sint fuga, culpa ullam ut quam molestias architecto voluptas alias assumenda esse aliquam eaque eligendi mollitia porro quod vel repellendus dolores placeat impedit laborum reprehenderit! Autem in fuga ex placeat sapiente tempore, corrupti voluptatum cupiditate aut consequatur iste omnis, laboriosam quis.</p>
<%- include("footer") -%>